<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGZb712Botw70Oh7LyP0O0Cs5fKD7J--U</string>
	<key>GCM_SENDER_ID</key>
	<string>579359395041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stocksTracker</string>
	<key>PROJECT_ID</key>
	<string>stock-sensepp-1and</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-sensepp-1and.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579359395041:ios:979d6e166239926271bba0</string>
</dict>
</plist>